html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(65, 65, 65);
  box-sizing: border-box;
}

.signInContainer {
  background-color: #dcdcda;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  background-color: #fff;
  min-height: 300px;
  max-height: 100%;
  width: 450px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
  padding: 20px 35px;
  overflow-y: auto;
}

#signUpForm {
  display: flex;
  flex-direction: column;
}

#signUpForm input[type="text"],
#signUpForm input[type="email"],
#signUpForm input[type="password"] {
  font-size: 14px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #dedede;
}

#signUpForm input[type="submit"] {
  background-color: #4285f4;
  color: #fff;
  height: 36px;
  width: 88px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0 20px 0;
}

.column .header {
  padding: 0 0 20px 0;
}

.column h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding: 16px 0 0 0;
  color: #000;
}

span {
  font-size: 14px;
}

.column .header img {
  width: 200px;
}

.column a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
